* {
	box-sizing: border-box;
}
.row::after {
  content: "";
  clear: both;
  display: block;
}
[class*="col-"] {
  float: left;
  padding: 0px;
  width: 100%;
}
p {font-size: 15px;}
i {font-size: 15px;}
a {font-size: 15px;}
h1 {font-size: 23px;}
h2 {font-size: 18px;}

body {
	margin: 0;
	background-image: url("background.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

@font-face{
    font-family: "SVN-Merge Regular";
    src: url("SVN-Merge Regular.ttf");
}

.navigative ul{
    position: fixed;
    top: 0;
    z-index: 1;
}
.navigative ul{
	list-style-type: none;
	padding: 0;
	margin: 0;
	overflow: hidden;
    width: 100%;
	background-color: #2c2c2c;
}
.navigative li {
	display: inline-block;
	color: #ffffff;
}
.navigative li h1 {
	display: block;
	padding: 0px 0px 0px 15px;
}
.navigative li a {
	display: block;
	text-decoration: none;
	color: #ffffff;
	padding: 20px;
}
.navigative li a:hover {
	background-color: #7A7A7A;
}

#left {
	float: left;
}
#right {
	float: right;
}
.body{
    margin: 94px 20px 0px 20px;
    
}
.courses{
		margin-bottom: 20px;
    max-width: 100%;
    height: auto;
    
}
.courses div{
    padding: 10px;
}
.courses a div{
    border: solid #5B5B5B 2px;
    border-radius: 10px;
    text-align: center;
		box-shadow: 0px 4px 10px 0 rgba(0, 0, 0, 0.2), 0px 8px 20px 0 rgba(0, 0, 0, 0.19);
		background: rgba(255, 199, 140, 0.5);
		transition: background 2s, box-shadow 2s;		
}
.courses a{
	text-decoration: none;
	color: #000000;
}
.courses a div:hover{
	background: #FCCC94;
	box-shadow: 5px 10px 10px 0 rgba(0, 0, 0, 0.2), 5px 20px 20px 0 rgba(0, 0, 0, 0.19);
	text-decoration: underline;
}
.courses div img{
    width: 100%;
    height: auto;
    padding: 10px;
		border-radius: 7%;
}
.footer {
	padding: 50px;
	color: #DBDBDB;
	background: #494949;
}
#background{
	background: fixed url("background.jpg");
}

.intro h1{
		text-align: center;
		font-size: 5vmax;
		text-decoration: underline;
}








































/* FOR TABLET */
@media only screen and (min-width: 768px) {
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
	p {font-size: 20px;}
	a {font-size: 20px;}
	i {font-size: 20px;}
	h1 {font-size: 30px;}
	h2 {font-size: 25px;}	
	.navigative li a {
		padding: 40px;
	}
}
/* FOR LAPTOP */
@media only screen and (min-width: 992px) {
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
		p {font-size: 20px;}
		a {font-size: 20px;}
		i {font-size: 20px;}
		h1 {font-size: 30px;}
		h2 {font-size: 25px;}
	.navigative li a {
		padding: 25px;
	}
    .navigative li h1{
        padding: 0px 0px 0px 15px;
    }
}	